<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for state in var[0].values()|sort(attribute="name") %}
                <LI>
                    {{ state.id }}: <B>{{ state.name }}</B>
                    {% for city in var[1].values()|sort(attribute="name") %}
                        {% if city.state_id == state.id %}
                            <UL>
                                <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                            </UL>
                        {% endif %}
                    {% endfor %}
                </LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>

